[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
migrate = "*"
faker = "*"
flask-cors = "*"
werkzeug = "*"
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"

[dev-packages]

[requires]
python_version = "3.10"
